@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Paweł Haracz</h1>
    @if (Request.IsAuthenticated)
    {
        <p>Now you can show movie marks :)</p>
        <p>please clilck "Movie marks" on the menu or click button below</p>
        <p><a class="btn btn-success" href="@Url.Action("Index","Mark")">Movie marks</a></p>
    }
    else
    {
        <p>If you see Movie Marks, you must login to system.</p>
        <p>Please Click button "Sing in"</p>
    }
</div>